.nav{
    grid-area: n;
    background-color: #08e1ae;
    sbackground-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);  

    }
  
  .fontStyle a
  {
    color: black
  }
  
  .fontStyle a.active {
    color: blue;
    }