
.header{
    grid-area: h;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

    }
    .header img {
      width: 80px;
      height: 80px;
      border-radius: 40px;
    }
    