.app-wrapper{
    display: grid;
    width: 99vw;
    border-left: none;
    grid-template-areas: 
    "h h h"
    "n c c"
    "f f f";
  
    margin: 0 auto;
    grid-template-rows: 80px 1fr 110px;
    grid-template-columns: 2fr 10fr 1fr;
    grid-gap:10px;
    background-color:white;
  }

  .app-wrapper-content{
    grid-area: c;
    background-color: #7ee8fa;
background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

    color: black;
    height: 800px;
    }
    .app-wrapper-content img{
      width:200px;
    }